springfox:
    title: 'FINT Personalmappe Provisioning Service'
    version: '1.0.0'

fint:
    endpoints:
        personalressurs: https://api.felleskomponent.no/administrasjon/personal/personalressurs
        #personalmappe: https://alpha.felleskomponent.no/administrasjon/personal/personalmappe
        administrativ-enhet: https://alpha.felleskomponent.no/administrasjon/arkiv/administrativenhet
        personalmappe: http://localhost:8080/post
        graphql: https://api.felleskomponent.no/graphql/graphql
    cron:
        bulk: 0 0 0 * * MON-FRI
        delta: 0 */5 8-16 * * MON-FRI
    organisations:
        viken-no:
            registration: viken-no
            username:
            password:
            personalressurskategori:
            - F
            - M
            bulk-limit: 5
            bulk: false
            delta: false
            transformation-scripts:
spring:
    security:
        oauth2:
            client:
                registration:
                    viken-no:
                        client-id:
                        client-secret:
                        authorization-grant-type: password
                        scope: fint-client
                        provider: fint
                provider:
                    fint:
                        token-uri: https://idp.felleskomponent.no/nidp/oauth/nam/token

