apiVersion: apps/v1
kind: Deployment
metadata:
  name: provisioner-personalmappe
  namespace: bfk-no
spec:
  template:
    spec:
      containers:
        - name: provisioner-personalmappe
          envFrom:
            - secretRef:
                name: personalmappe-secrets
            - secretRef:
                name: personalmappe-beta
          env:
            - {name: fint.endpoints.graphql, value: https://beta.felleskomponent.no/graphql/graphql}
            - {name: fint.endpoints.personnel-resource, value: https://beta.felleskomponent.no/administrasjon/personal/personalressurs}
            - {name: fint.endpoints.personnel-folder, value: https://beta.felleskomponent.no/arkiv/personal/personalmappe}
            - {name: fint.endpoints.administrative-unit, value: https://beta.felleskomponent.no/arkiv/noark/administrativenhet}
            - {name: fint.endpoints.archive-resource, value: https://beta.felleskomponent.no/arkiv/noark/arkivressurs}
            - {name: fint.cron.bulk, value: "0 0 18 * * MON-FRI"}
            - {name: fint.cron.delta, value: "0 5 8-16 * * MON-FRI"}
            - {name: organisation.bulk, value: "true"}
            - {name: organisation.delta, value: "true"}
            - {name: organisation.bulk-limit, value: "0"}
            - {name: organisation.personnel-resource-category, value: "F, M"}
            #- {name: organisation.administrative-units-excluded, value: "3, 11, 380"}
            - {name: organisation.archive-resource, value: "false"}
            - {name: organisation.history-limit, value: "5"}
            - {name: organisation.org-id, value: bfk-no}
            - {name: logging.level.no.fint, value: TRACE}
